@import 'default.css';
@import 'menu.css';

#titulo{
    background-color: rgba(0,0,0,0.85);
    box-shadow: 3px 3px 5px #000;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid rgb(68, 68, 68);
    text-align: center;
}

#titulo h2{
    font-family: 'Days One', sans-serif;
    color: #fff;
    font-size: 25px;
}

section{
    width: 100%;
    min-height: 90px;
    background-color: rgba(0,0,0,0.85);
    margin: 10px;
    border-radius: 10px;
    border: 2px solid rgb(68, 68, 68);
    text-align: center;
}

section h2{
    font-family: 'Days One', sans-serif;
    color: #fff;
    font-size: 20px;
}