footer{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
    font-family: 'Days One', sans-serif;
    font-size: 13px;
    text-align: right;
    padding: 15px 20px;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}