#sidebar{
    background: blue;
    position: fixed;
    z-index: 1500;
}  
  #sidebar ul{
    list-style: none;
    position: absolute;
  }
  
  #sidebar ul li{
    height: 45px;
  }
  
  #sidebar ul li div{
    background: orange;
  }
  
  #sidebar ul li .button-menu{
    color: #000;
    text-decoration: none;
    font-family: 'Days One', sans-serif;
  }
  
  #sidebar ul li .button-menu .icono,
  #sidebar ul li .button-menu .descripcion{
    background-color:#FF5265;
    transition: all 0.3s;
    box-shadow: 3px 3px 5px #000;
    float: left;
  }
  
  #sidebar ul li .button-menu .icono{
      z-index: 1000;
      width: 40px;
      padding: 6px;
      font-size: 20px;
      text-align: center;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border: 2px solid #000;
      position: absolute;
  }
  
  #sidebar ul li .button-menu .icono:hover{
      border-left: 5px solid #FF5265;
      color: #FF5265;
      background-color: #000;
      box-shadow: 1px 3px 5px #000;
      width: 45px;
  }
  
  #sidebar ul li .button-menu .descripcion{
      left: -250px;
      background-color: #000;
      color: #FF5265;
      z-index: 200;
      padding: 9px;
      text-align: left;
      border-left: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      margin-top: 2px;
      position: absolute;
  }
  
  #sidebar ul li .button-menu .descripcion.active{
      left: 40px;
  }